*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    background-color: aqua;
    color: white;
    padding: 20px;
    text-align: center;
}

.content{
    margin: 15px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
}


.footer{
    background-color: white;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.about{
    background-color: brown;
    padding: 20px;
    text-align: center;
}

.People{
    background-color: blueviolet;
    padding: 20px;
    text-align: left;
}
body{
    background-color: burlywood;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
.adress{
    width: 33%;
    position: absolute;
    border-top: 0px;
    padding: 10px;
    border: 1px solid;
}
.Arbetare{
    width: 33%;
}
.Rättigheter{
    width: 33%;
}